### Exploratory Data Analysis

In [1]:
#Importing necessary libraries
import pandas as pd

In [2]:
#creating a dataframe for the dataset
house = pd.read_csv('housing.csv')

In [3]:
#viewing the dataset
house

,id,url,region,region_url,price,type,sqfeet,beds,baths,cats_allowed,...,wheelchair_access,electric_vehicle_charge,comes_furnished,laundry_options,parking_options,image_url,description,lat,long,state
0,7049044568,https://reno.craigslist.org/apa/d/reno-beautif...,reno / tahoe,https://reno.craigslist.org,1148.0,apartment,1078.0,3.0,2.0,1.0,...,0.0,0.0,0.0,w/d in unit,carport,https://images.craigslist.org/01616_daghmBUvTC...,Ridgeview by Vintage is where you will find al...,39.5483,-119.7960,ca
1,7049047186,https://reno.craigslist.org/apa/d/reno-reduced...,reno / tahoe,https://reno.craigslist.org,1200.0,condo,1001.0,2.0,2.0,0.0,...,0.0,0.0,0.0,w/d hookups,carport,https://images.craigslist.org/00V0V_5va0MkgO9q...,Conveniently located in the middle town of Ren...,39.5026,-119.7890,ca
2,7043634882,https://reno.craigslist.org/apa/d/sparks-state...,reno / tahoe,https://reno.craigslist.org,1813.0,apartment,1683.0,2.0,2.0,1.0,...,0.0,0.0,0.0,w/d in unit,attached garage,https://images.craigslist.org/00t0t_erYqC6LgB8...,2BD | 2BA | 1683SQFTDiscover exceptional servi...,39.6269,-119.7080,ca
3,7049045324,https://reno.craigslist.org/apa/d/reno-1x1-fir...,reno / tahoe,https://reno.craigslist.org,1095.0,apartment,708.0,1.0,1.0,1.0,...,0.0,0.0,0.0,w/d in unit,carport,https://images.craigslist.org/00303_3HSJz75zlI...,MOVE IN SPECIAL FREE WASHER/DRYER WITH 6 OR 12...,39.4477,-119.7710,ca
4,7049043759,https://reno.craigslist.org/apa/d/reno-no-long...,reno / tahoe,https://reno.craigslist.org,289.0,apartment,250.0,0.0,1.0,1.0,...,1.0,0.0,1.0,laundry on site,NaN,https://images.craigslist.org/01616_fALAWFV8zQ...,"Move In Today: Reno Low-Cost, Clean & Furnishe...",39.5357,-119.8050,ca
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145445,7023873164,https://annarbor.craigslist.org/apa/d/fenton-t...,ann arbor,https://annarbor.craigslist.org,970.0,apartment,950.0,2.0,1.0,1.0,...,1.0,0.0,0.0,w/d hookups,off-street parking,https://images.craigslist.org/00404_jBVy1nMvem...,Old Man Winter got you down? No more worries...,42.8136,-83.7105,mi
145446,7040930666,https://annarbor.craigslist.org/apa/d/ann-arbo...,ann arbor,https://annarbor.craigslist.org,1350.0,condo,700.0,2.0,1.0,1.0,...,0.0,0.0,0.0,w/d in unit,street parking,https://images.craigslist.org/00808_1xU9s1KDuV...,This well maintained two-bedroom condo is tuck...,42.2477,-83.6913,mi
145447,7024941973,https://annarbor.craigslist.org/apa/d/ypsilant...,ann arbor,https://annarbor.craigslist.org,918.0,apartment,800.0,2.0,1.0,1.0,...,0.0,0.0,0.0,laundry on site,NaN,https://images.craigslist.org/00B0B_5RmeE3NIo7...,*CELEBRATE THIS HOLIDAY SEASON IN YOUR NEW HOM...,42.2325,-83.6336,mi
145448,7024655022,https://annarbor.craigslist.org/apa/d/ann-arbo...,ann arbor,https://annarbor.craigslist.org,1079.0,apartment,700.0,2.0,1.0,1.0,...,0.0,0.0,0.0,laundry on site,off-street parking,https://images.craigslist.org/00g0g_hjsmOryJIM...,You have the opportunity to reserve your apart...,42.2540,-83.6591,mi
145449,7033434842,https://annarbor.craigsl,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#display the first 20 rows.
house.head(20)

,id,url,region,region_url,price,type,sqfeet,beds,baths,cats_allowed,...,wheelchair_access,electric_vehicle_charge,comes_furnished,laundry_options,parking_options,image_url,description,lat,long,state
0,7049044568,https://reno.craigslist.org/apa/d/reno-beautif...,reno / tahoe,https://reno.craigslist.org,1148.0,apartment,1078.0,3.0,2.0,1.0,...,0.0,0.0,0.0,w/d in unit,carport,https://images.craigslist.org/01616_daghmBUvTC...,Ridgeview by Vintage is where you will find al...,39.5483,-119.796,ca
1,7049047186,https://reno.craigslist.org/apa/d/reno-reduced...,reno / tahoe,https://reno.craigslist.org,1200.0,condo,1001.0,2.0,2.0,0.0,...,0.0,0.0,0.0,w/d hookups,carport,https://images.craigslist.org/00V0V_5va0MkgO9q...,Conveniently located in the middle town of Ren...,39.5026,-119.789,ca
2,7043634882,https://reno.craigslist.org/apa/d/sparks-state...,reno / tahoe,https://reno.craigslist.org,1813.0,apartment,1683.0,2.0,2.0,1.0,...,0.0,0.0,0.0,w/d in unit,attached garage,https://images.craigslist.org/00t0t_erYqC6LgB8...,2BD | 2BA | 1683SQFTDiscover exceptional servi...,39.6269,-119.708,ca
3,7049045324,https://reno.craigslist.org/apa/d/reno-1x1-fir...,reno / tahoe,https://reno.craigslist.org,1095.0,apartment,708.0,1.0,1.0,1.0,...,0.0,0.0,0.0,w/d in unit,carport,https://images.craigslist.org/00303_3HSJz75zlI...,MOVE IN SPECIAL FREE WASHER/DRYER WITH 6 OR 12...,39.4477,-119.771,ca
4,7049043759,https://reno.craigslist.org/apa/d/reno-no-long...,reno / tahoe,https://reno.craigslist.org,289.0,apartment,250.0,0.0,1.0,1.0,...,1.0,0.0,1.0,laundry on site,NaN,https://images.craigslist.org/01616_fALAWFV8zQ...,"Move In Today: Reno Low-Cost, Clean & Furnishe...",39.5357,-119.805,ca
5,7046327064,https://reno.craigslist.org/apa/d/reno-walk-in...,reno / tahoe,https://reno.craigslist.org,1093.0,apartment,720.0,1.0,1.0,1.0,...,0.0,0.0,0.0,laundry in bldg,NaN,https://images.craigslist.org/00808_1EfWoZv4NX...,"1BD | 1BA | 720SQFTIn addition to attractive, ...",39.4572,-119.776,ca
6,7049020738,https://reno.craigslist.org/apa/d/1-bedroom-av...,reno / tahoe,https://reno.craigslist.org,935.0,apartment,661.0,1.0,1.0,1.0,...,0.0,0.0,0.0,laundry on site,off-street parking,https://images.craigslist.org/00C0C_i1DJWxfSZC...,Tucked away in a park-like setting on the edge...,39.5118,-119.802,ca
7,7049041899,https://reno.craigslist.org/apa/d/reno-1x1-fir...,reno / tahoe,https://reno.craigslist.org,1095.0,apartment,708.0,1.0,1.0,1.0,...,0.0,0.0,0.0,w/d in unit,carport,https://images.craigslist.org/00303_3HSJz75zlI...,MOVE IN SPECIAL FREE WASHER/DRYER WITH 6 OR 12...,39.4477,-119.771,ca
8,7049041451,https://reno.craigslist.org/apa/d/sparks-bouti...,reno / tahoe,https://reno.craigslist.org,1525.0,apartment,1053.0,2.0,2.0,1.0,...,0.0,0.0,0.0,w/d in unit,carport,https://images.craigslist.org/00W0W_aMt5LvqkQh...,"BRAND NEW APARTMENT HOMES, NOW OPEN! **GET 1 ...",39.6185,-119.672,ca
9,7049041434,https://reno.craigslist.org/apa/d/reno-6850-sh...,reno / tahoe,https://reno.craigslist.org,1295.0,condo,930.0,2.0,2.0,0.0,...,0.0,0.0,0.0,w/d in unit,carport,https://images.craigslist.org/01313_8AoC9NJZWA...,6850 Sharlands Ave E-1021 Reno NV 89523 ...,39.5193,-119.897,ca
10,7049040060,https://reno.craigslist.org/apa/d/reno-air-con...,reno / tahoe,https://reno.craigslist.org,1086.0,apartment,720.0,1.0,1.0,0.0,...,0.0,0.0,0.0,NaN,NaN,https://images.craigslist.org/00O0O_5wWo0TwRHn...,"In addition to attractive, comfortable apartme...",39.4572,-119.776,ca
11,7049039558,https://reno.craigslist.org/apa/d/sparks-2741-...,reno / tahoe,https://reno.craigslist.org,2195.0,house,3115.0,4.0,3.0,0.0,...,0.0,0.0,0.0,w/d hookups,attached garage,https://images.craigslist.org/00303_6CDk4x4o7i...,"2741 Albazano Drive Sparks, NV 89436 ...",39.5987,-119.693,ca
12,7049038099,https://reno.craigslist.org/apa/d/reno-zephyr-...,reno / tahoe,https://reno.craigslist.org,1159.0,apartment,1181.0,3.0,2.0,1.0,...,0.0,0.0,0.0,w/d in unit,carport,https://images.craigslist.org/00W0W_4YPd2WkE4U...,Welcome Home to Zephyr Pointe Apartments Thi...,39.5384,-119.863,ca
13,7047575862,https://reno.craigslist.org/apa/d/sparks-how-c...,reno / tahoe,https://reno.craigslist.org,1349.0,apartment,766.0,1.0,1.0,1.0,...,0.0,0.0,0.0,w/d in unit,NaN,https://images.craigslist.org/00z0z_57Ct5yuqbJ...,"Style, substance, and sustainability are the p...",39.5393,-119.750,ca
14,7049031207,https://reno.craigslist.org/apa/d/sparks-over-...,reno / tahoe,https://reno.craigslist.org,1449.0,apartment,764.0,1.0,1.0,1.0,...,0.0,0.0,0.0,w/d in unit,off-street parking,https://images.craigslist.org/00F0F_1U5yCEgpCC...,Pre-leasing for 2020! Winter Special - 6 Weeks...,39.5502,-119.718,ca
15,7049037378,https://reno.craigslist.org/apa/d/reno-200-tal...,reno / tahoe,https://reno.craigslist.org,1295.0,apartment,951.0,2.0,2.0,0.0,...,0.0,0.0,0.0,w/d in unit,off-street parking,https://images.craigslist.org/00z0z_4zB7LuIg63...,"200 Talus Way #221 Reno, NV 89523 ...",39.5617,-119.828,ca
16,7049031994,https://reno.craigslist.org/apa/d/reno-beautif...,reno / tahoe,https://reno.craigslist.org,982.0,apartment,919.0,2.0,2.0,1.0,...,0.0,0.0,0.0,w/d in unit,carport,https://images.craigslist.org/01616_daghmBUvTC...,Ridgeview by Vintage is where you will find al...,39.5483,-119.796,ca
17,7049036811,https://reno.craigslist.org/apa/d/reno-20-minu...,reno / tahoe,https://reno.craigslist.org,1895.0,apartment,1193.0,2.0,2.0,1.0,...,0.0,0.0,0.0,w/d in unit,attached garage,https://images.craigslist.org/01212_hHbChrx2vM...,"Inova14001 SUMMIT SIERRA BLVDReno, NV 89511Tak...",39.4015,-119.755,ca
18,7049034720,https://reno.craigslist.org/apa/d/reno-andes-s...,reno / tahoe,https://reno.craigslist.org,1495.0,duplex,1192.0,3.0,1.0,1.0,...,0.0,0.0,0.0,w/d hookups,detached garage,https://images.craigslist.org/00m0m_2NL19adjhn...,"12001 Andes Street Reno, NV 89506 ...",39.6369,-119.880,ca
19,7047407034,https://reno.craigslist.org/apa/d/sparks-lenna...,reno / tahoe,https://reno.craigslist.org,1899.0,house,1600.0,3.0,2.0,0.0,...,0.0,0.0,0.0,w/d in unit,attached garage,https://images.craigslist.org/00e0e_2EXJaNgIMh...,"3 YEAR NEW EXECUTIVE LENNAR HOME: 3 bedroom, 2...",39.5614,-119.695,ca

In [5]:
#retrieve the column names of the DataFrame.
house.columns

Index(['id', 'url', 'region', 'region_url', 'price', 'type', 'sqfeet', 'beds',
       'baths', 'cats_allowed', 'dogs_allowed', 'smoking_allowed',
       'wheelchair_access', 'electric_vehicle_charge', 'comes_furnished',
       'laundry_options', 'parking_options', 'image_url', 'description', 'lat',
       'long', 'state'],
      dtype='object')

In [6]:
#display concise summary information about the DataFrame.
house.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145450 entries, 0 to 145449
Data columns (total 22 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   id                       145450 non-null  int64
 1   url                      145450 non-null  object
 2   region                   145449 non-null  object
 3   region_url               145449 non-null  object
 4   price                    145449 non-null  float64
 5   type                     145449 non-null  object
 6   sqfeet                   145449 non-null  float64
 7   beds                     145449 non-null  float64
 8   baths                    145449 non-null  float64
 9   cats_allowed             145449 non-null  float64
 10  dogs_allowed             145449 non-null  float64
 11  smoking_allowed          145449 non-null  float64
 12  wheelchair_access        145449 non-null  float64
 13  electric_vehicle_charge  145449 non-null  float64
 14  comes_furnished          145449 non-null  float64
 15  laundry_options          112578 non-null  object
 16  parking_options          88980 non-null   object
 17  image_url                145449 non-null  object
 18  description              145448 non-null  object
 19  lat                      144615 non-null  float64
 20  long                     144615 non-null  float64
 21  state                    145449 non-null  object
dtypes: float64(12), int64(1), object(9)
memory usage: 24.4+ MB

In [7]:
#generate descriptive statistics for the DataFrame.
house.describe()

,id,price,sqfeet,beds,baths,cats_allowed,dogs_allowed,smoking_allowed,wheelchair_access,electric_vehicle_charge,comes_furnished,lat,long
count,1.454500e+05,1.454490e+05,1.454490e+05,145449.000000,145449.000000,145449.000000,145449.000000,145449.000000,145449.000000,145449.000000,145449.000000,144615.000000,144615.000000
mean,7.041079e+09,2.063486e+04,1.036095e+03,1.909735,1.487209,0.710806,0.692036,0.733652,0.074363,0.014844,0.050320,35.917644,-91.610933
std,8.455205e+06,7.258885e+06,5.717328e+03,4.921542,0.666199,0.453390,0.461653,0.442050,0.262361,0.120927,0.218605,5.519685,15.780529
min,7.003808e+09,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-40.266600,-163.894000
25%,7.036390e+09,8.400000e+02,7.500000e+02,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,30.443700,-96.379000
50%,7.043378e+09,1.119000e+03,9.500000e+02,2.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,38.031100,-86.130200
75%,7.048268e+09,1.500000e+03,1.152000e+03,2.000000,2.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,39.897700,-81.586400
max,7.051238e+09,2.768307e+09,1.019856e+06,1100.000000,75.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,102.036000,-13.676200

The significant difference between the mean and standard deviation indicates high variability in the data. Extreme minimum and maximum values for square footage, bedrooms, bathrooms, and price suggest the presence of outliers.

In [8]:
#retrieve the dimensions of the DataFrame.
house.shape

(145450, 22)

In [9]:
#check for null values in the DataFrame.
house.isnull()

,id,url,region,region_url,price,type,sqfeet,beds,baths,cats_allowed,...,wheelchair_access,electric_vehicle_charge,comes_furnished,laundry_options,parking_options,image_url,description,lat,long,state
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145445,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
145446,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
145447,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
145448,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
145449,False,False,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

In [10]:
#display the data types of each column in the DataFrame.
house.dtypes

id                           int64
url                         object
region                      object
region_url                  object
price                      float64
type                        object
sqfeet                     float64
beds                       float64
baths                      float64
cats_allowed               float64
dogs_allowed               float64
smoking_allowed            float64
wheelchair_access          float64
electric_vehicle_charge    float64
comes_furnished            float64
laundry_options             object
parking_options             object
image_url                   object
description                 object
lat                        float64
long                       float64
state                       object
dtype: object

In [11]:
#count the number of null values in each column of the DataFrame.
house.isnull().sum()

id                             0
url                            0
region                         1
region_url                     1
price                          1
type                           1
sqfeet                         1
beds                           1
baths                          1
cats_allowed                   1
dogs_allowed                   1
smoking_allowed                1
wheelchair_access              1
electric_vehicle_charge        1
comes_furnished                1
laundry_options            32872
parking_options            56470
image_url                      1
description                    2
lat                          835
long                         835
state                          1
dtype: int64

In [12]:
#generate rounded descriptive statistics for the DataFrame 'house' and transpose the result.
house.describe().round(2).T

,count,mean,std,min,25%,50%,75%,max
id,145450.0,7.041079e+09,8455204.89,7.003808e+09,7.036390e+09,7.043378e+09,7.048268e+09,7.051238e+09
price,145449.0,2.063486e+04,7258885.18,0.000000e+00,8.400000e+02,1.119000e+03,1.500000e+03,2.768307e+09
sqfeet,145449.0,1.036090e+03,5717.33,0.000000e+00,7.500000e+02,9.500000e+02,1.152000e+03,1.019856e+06
beds,145449.0,1.910000e+00,4.92,0.000000e+00,1.000000e+00,2.000000e+00,2.000000e+00,1.100000e+03
baths,145449.0,1.490000e+00,0.67,0.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,7.500000e+01
cats_allowed,145449.0,7.100000e-01,0.45,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
dogs_allowed,145449.0,6.900000e-01,0.46,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
smoking_allowed,145449.0,7.300000e-01,0.44,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
wheelchair_access,145449.0,7.000000e-02,0.26,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
electric_vehicle_charge,145449.0,1.000000e-02,0.12,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
comes_furnished,145449.0,5.000000e-02,0.22,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
lat,144615.0,3.592000e+01,5.52,-4.027000e+01,3.044000e+01,3.803000e+01,3.990000e+01,1.020400e+02
long,144615.0,-9.161000e+01,15.78,-1.638900e+02,-9.638000e+01,-8.613000e+01,-8.159000e+01,-1.368000e+01

The dataset comprises housing data across various regions, encompassing details like size, type, square footage, price, and bed count, necessitating cleaning to suit specific requirements. Upon examining inter-variable relationships, informed conclusions can guide potential buyers towards profitable decisions.

#### Steps for Data Cleaning

* Pick those columns that are relevant for the analysis and drop those that are not.
* Check for any null values
* Fill or drop the records with null values
* Find the percentage of the null records
* Filter the records according to the occurence

In [13]:
#Getting the percentage of the null records
null_values=pd.DataFrame(house.isnull().sum(),columns=['null_sum'])
null_values=null_values[null_values.null_sum>0]
null_values['percentage']=(null_values.null_sum/len(house ))*100
null_values=null_values.sort_values(by='percentage',ascending=False)
null_values

                         null_sum  percentage
parking_options             56470   38.824338
laundry_options             32872   22.600206
long                          835    0.574080
lat                           835    0.574080
description                     2    0.001375
region                          1    0.000688
region_url                      1    0.000688
image_url                       1    0.000688
comes_furnished                 1    0.000688
electric_vehicle_charge         1    0.000688
wheelchair_access               1    0.000688
smoking_allowed                 1    0.000688
dogs_allowed                    1    0.000688
cats_allowed                    1    0.000688
baths                           1    0.000688
beds                            1    0.000688
sqfeet                          1    0.000688
type                            1    0.000688
price                           1    0.000688
state                           1    0.000688

Before imputing null values, it's prudent to eliminate irrelevant features that do not contribute to estimating house rent. We will drop the columns 'url', 'id', 'image_url', 'description', and 'region_url' as they are not highly relevant for our analysis.

In [14]:
house.drop(columns=['url','id','image_url','description','region_url'],inplace=True)

In [15]:
house.shape

(145450, 17)

In [16]:
# Cleaning the region variable based on a forward slash ("/")
def region_forward_slash(x):
    if isinstance(x, str):
        tokens = x.split('/')
        return tokens[0].strip()
    else:
        return x  # Return the value as is if it's not a string (NaN)

house['region'] = house['region'].apply(region_forward_slash)

In [17]:
def strip_last_two_uppercase_chars(string):
    if string is not None and len(string) >= 2 and string[-2:].isupper():
        return string[:-2].strip()
    elif string is not None:
        return string.strip()  # Adjusted to strip trailing whitespaces
    else:
        return string

In [18]:
house.region.unique()

array(['reno', 'sacramento', 'boulder', 'visalia-tulare', 'santa barbara',
       'SF bay area', 'siskiyou county', 'ventura county', 'san diego',
       'san luis obispo', 'stockton', 'santa maria', 'susanville',
       'colorado springs', 'yuba-sutter', 'denver', 'northwest CT',
       'fort collins', 'western slope', 'eastern CT', 'hartford',
       'new haven', 'washington, DC', 'high rockies', 'pueblo',
       'daytona beach', 'ft myers', 'gainesville', 'jacksonville',
       'ocala', 'eastern CO', 'heartland florida', 'delaware', 'lakeland',
       'florida keys', 'north central FL', 'orlando', 'panama city',
       'pensacola', 'sarasota-bradenton', 'south florida', 'okaloosa',
       'space coast', 'tallahassee', 'tampa bay area', 'atlanta',
       'augusta', 'brunswick', 'athens', 'treasure coast', 'albany',
       'st augustine', 'macon', 'columbus', 'northwest GA', 'savannah',
       'hawaii', 'boise', 'east idaho', 'statesboro', 'spokane',
       'valdosta', 'bloomington-normal', 'champaign urbana', 'chicago',
       'twin falls', 'decatur', 'la salle co', 'quad cities, IA',
       'st louis, MO', 'peoria', 'evansville', 'springfield',
       'bloomington', 'lewiston', 'pullman', 'indianapolis', 'fort wayne',
       'rockford', 'south bend', 'ames', 'richmond', 'southern illinois',
       'mattoon-charleston', 'muncie', 'western IL', 'lafayette',
       'kokomo', 'terre haute', 'cedar rapids', 'des moines', 'omaha',
       'wichita', 'fort dodge', 'lawrence', 'salina', 'sioux city',
       'bowling green', 'lexington', 'eastern kentucky', 'iowa city',
       'louisville', 'dubuque', 'baton rouge', 'waterloo', 'manhattan',
       'western KY', 'topeka', 'monroe', 'mason city', 'new orleans',
       'kansas city, MO', 'southeast IA', 'lake charles', 'southeast KS',
       'huntington-ashland', 'northwest KS', 'southwest KS', 'shreveport',
       'central louisiana', 'houma', 'owensboro', 'maine', 'lansing',
       'annapolis', 'baltimore', 'frederick', 'southern maryland',
       'boston', 'south coast', 'western massachusetts', 'worcester',
       'western maryland', 'ann arbor', 'battle creek', 'detroit metro',
       'holland', 'cumberland valley', 'flint', 'kalamazoo', 'muskegon',
       'saginaw-midland-baycity', 'upper peninsula', 'eastern shore',
       'cape cod', 'grand rapids', 'bemidji', nan], dtype=object)

In [19]:
house.shape

(145450, 17)

The most crucial features for rental price estimation include square footage, region, type, number of bedrooms, and number of bathrooms. While other features may have less significance individually, they collectively contribute to the estimation process and should be considered as well.

In [20]:
#retrieve unique values of the 'parking_options' column in the DataFrame.
house.parking_options.unique()

array(['carport', 'attached garage', nan, 'off-street parking',
       'detached garage', 'street parking', 'no parking', 'valet parking'],
      dtype=object)

In [21]:
#fill missing values in the 'parking_options' column of the DataFrame 'house' with 'No parking'.
house.parking_options.fillna('No parking', inplace = True)

#### Features engineering

In [22]:
#fill missing values in 'cats_allowed' and 'dogs_allowed' columns with 0
house['cats_allowed'].fillna(0, inplace=True)
house['dogs_allowed'].fillna(0, inplace=True)

#convert 'cats_allowed' and 'dogs_allowed' columns to integers
house['cats_allowed'] = house['cats_allowed'].astype(int)
house['dogs_allowed'] = house['dogs_allowed'].astype(int)

#create a new column 'pets_allowed' in the pandas DataFrame 'house' that takes the value 1 if both 'cats_allowed' and 'dogs_allowed' are 1.
house['pets_allowed'] = (house['cats_allowed'] & house['dogs_allowed'])

# Drop the 'cats_allowed' and 'dogs_allowed' columns from the DataFrame
house.drop(['cats_allowed', 'dogs_allowed'], axis='columns', inplace=True)

In [23]:
house.columns

Index(['region', 'price', 'type', 'sqfeet', 'beds', 'baths', 'smoking_allowed',
       'wheelchair_access', 'electric_vehicle_charge', 'comes_furnished',
       'laundry_options', 'parking_options', 'lat', 'long', 'state',
       'pets_allowed'],
      dtype='object')

In [24]:
#count the occurrences of each unique value in the 'laundry_options' column.
house.laundry_options.value_counts()

laundry_options
w/d in unit           49717
w/d hookups           27614
laundry on site       20508
laundry in bldg       13573
no laundry on site     1166
Name: count, dtype: int64

In [25]:
#fill missing values in the 'laundry_options' column with 'Not Available' to denote properties without specified laundry options.
house['laundry_options'] = house['laundry_options'].fillna('Not Available')

In [26]:
house.laundry_options.value_counts()

laundry_options
w/d in unit           49717
Not Available         32872
w/d hookups           27614
laundry on site       20508
laundry in bldg       13573
no laundry on site     1166
Name: count, dtype: int64

#### Removing Outliers

In [27]:
#checking how many values present
house.baths.value_counts()

baths
1.0     75743
2.0     51262
1.5      9180
2.5      4342
3.0      2617
0.0       943
4.0       810
3.5       398
4.5        68
5.0        51
5.5        18
6.0         7
7.0         3
6.5         2
75.0        2
8.5         1
35.0        1
7.5         1
Name: count, dtype: int64

In [28]:
#drop rows with non-finite values in the 'baths' column
house = house.dropna(subset=['baths'])

#convert the values in the 'baths' column from float to integer data type
house["baths"] = house["baths"].astype(int)

/var/folders/6n/y8mskr1n5rx65hxq144dryh80000gn/T/ipykernel_49896/2500687792.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  house["baths"] = house["baths"].astype(int)

In [29]:
#checking how many values present
house.beds.value_counts()

beds
2.0       64968
1.0       45398
3.0       25010
4.0        4766
0.0        4309
5.0         880
6.0          77
7.0          25
8.0          13
1100.0        2
1000.0        1
Name: count, dtype: int64

In [30]:
house

,region,price,type,sqfeet,beds,baths,smoking_allowed,wheelchair_access,electric_vehicle_charge,comes_furnished,laundry_options,parking_options,lat,long,state,pets_allowed
0,reno,1148.0,apartment,1078.0,3.0,2,0.0,0.0,0.0,0.0,w/d in unit,carport,39.5483,-119.7960,ca,1
1,reno,1200.0,condo,1001.0,2.0,2,0.0,0.0,0.0,0.0,w/d hookups,carport,39.5026,-119.7890,ca,0
2,reno,1813.0,apartment,1683.0,2.0,2,1.0,0.0,0.0,0.0,w/d in unit,attached garage,39.6269,-119.7080,ca,1
3,reno,1095.0,apartment,708.0,1.0,1,1.0,0.0,0.0,0.0,w/d in unit,carport,39.4477,-119.7710,ca,1
4,reno,289.0,apartment,250.0,0.0,1,1.0,1.0,0.0,1.0,laundry on site,No parking,39.5357,-119.8050,ca,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145444,ann arbor,970.0,apartment,950.0,2.0,1,1.0,1.0,0.0,0.0,w/d hookups,No parking,42.8131,-83.7106,mi,1
145445,ann arbor,970.0,apartment,950.0,2.0,1,1.0,1.0,0.0,0.0,w/d hookups,off-street parking,42.8136,-83.7105,mi,1
145446,ann arbor,1350.0,condo,700.0,2.0,1,0.0,0.0,0.0,0.0,w/d in unit,street parking,42.2477,-83.6913,mi,1
145447,ann arbor,918.0,apartment,800.0,2.0,1,1.0,0.0,0.0,0.0,laundry on site,No parking,42.2325,-83.6336,mi,1
145448,ann arbor,1079.0,apartment,700.0,2.0,1,0.0,0.0,0.0,0.0,laundry on site,off-street parking,42.2540,-83.6591,mi,1

To ensure normal range, filter out entries with more than 4 bedrooms and bathrooms, as they are considered beyond standard limits for a house.

In [31]:
outlier1 = ((house["beds"]>4) | (house["baths"]>4))
print("There is {} outlier".format(house[outlier1]["beds"].count()))

There is 1023 outlier

In [32]:
house = house[~outlier1]

In [33]:
house.shape

(144426, 16)

To comply with zoning regulations, eliminate entries with square footage below 120 or above 5000, as it ensures adherence to minimum and maximum limits. Additionally, filter out rental prices exceeding $10,000, as it suggests potential homeownership rather than rental affordability.

In [34]:
outlier2 = ((house["sqfeet"]<120) | (house["sqfeet"]>5000) | (house["price"]<100) | (house["price"]>10000))
print("There is {} outlier".format(house[outlier2]["pets_allowed"].count()))

There is 932 outlier

In [35]:
house = house[~outlier2]

In [36]:
house.shape

(143494, 16)

#### Dimensionality reduction

In [37]:
#count the occurrences of each unique value in the 'type' column of the DataFrame 'house'.
house.type.value_counts()

type
apartment          119392
house               11852
townhouse            5113
condo                3184
duplex               1748
manufactured         1262
loft                  316
cottage/cabin         273
flat                  266
in-law                 86
assisted living         1
land                    1
Name: count, dtype: int64

We will filter the DataFrame to consider only those records where the type of the house has been listed more than 200 times.

In [38]:
new_type=['apartment', 'condo', 'house', 'duplex', 'townhouse']
house=house.loc[house.type.isin(new_type)]

In [39]:
house.type.value_counts()

type
apartment    119392
house         11852
townhouse      5113
condo          3184
duplex         1748
Name: count, dtype: int64

Let's fill in the missing values with appropriate measures of central tendency. For numerical columns, we'll use the mean.

In [40]:
house['lat'] = house['lat'].fillna(house['lat'].mean())
house['long'] = house['long'].fillna(house['long'].mean())

In [41]:
house

,region,price,type,sqfeet,beds,baths,smoking_allowed,wheelchair_access,electric_vehicle_charge,comes_furnished,laundry_options,parking_options,lat,long,state,pets_allowed
0,reno,1148.0,apartment,1078.0,3.0,2,0.0,0.0,0.0,0.0,w/d in unit,carport,39.5483,-119.7960,ca,1
1,reno,1200.0,condo,1001.0,2.0,2,0.0,0.0,0.0,0.0,w/d hookups,carport,39.5026,-119.7890,ca,0
2,reno,1813.0,apartment,1683.0,2.0,2,1.0,0.0,0.0,0.0,w/d in unit,attached garage,39.6269,-119.7080,ca,1
3,reno,1095.0,apartment,708.0,1.0,1,1.0,0.0,0.0,0.0,w/d in unit,carport,39.4477,-119.7710,ca,1
4,reno,289.0,apartment,250.0,0.0,1,1.0,1.0,0.0,1.0,laundry on site,No parking,39.5357,-119.8050,ca,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145444,ann arbor,970.0,apartment,950.0,2.0,1,1.0,1.0,0.0,0.0,w/d hookups,No parking,42.8131,-83.7106,mi,1
145445,ann arbor,970.0,apartment,950.0,2.0,1,1.0,1.0,0.0,0.0,w/d hookups,off-street parking,42.8136,-83.7105,mi,1
145446,ann arbor,1350.0,condo,700.0,2.0,1,0.0,0.0,0.0,0.0,w/d in unit,street parking,42.2477,-83.6913,mi,1
145447,ann arbor,918.0,apartment,800.0,2.0,1,1.0,0.0,0.0,0.0,laundry on site,No parking,42.2325,-83.6336,mi,1
145448,ann arbor,1079.0,apartment,700.0,2.0,1,0.0,0.0,0.0,0.0,laundry on site,off-street parking,42.2540,-83.6591,mi,1

In [42]:
house.isnull().sum()

region                     0
price                      0
type                       0
sqfeet                     0
beds                       0
baths                      0
smoking_allowed            0
wheelchair_access          0
electric_vehicle_charge    0
comes_furnished            0
laundry_options            0
parking_options            0
lat                        0
long                       0
state                      0
pets_allowed               0
dtype: int64

In [43]:
#create a subset DataFrame containing specific columns
house_opt = house[['smoking_allowed', 'wheelchair_access', 'electric_vehicle_charge', 'comes_furnished']]

In [44]:
house_opt

,smoking_allowed,wheelchair_access,electric_vehicle_charge,comes_furnished
0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0
3,1.0,0.0,0.0,0.0
4,1.0,1.0,0.0,1.0
...,...,...,...,...
145444,1.0,1.0,0.0,0.0
145445,1.0,1.0,0.0,0.0
145446,0.0,0.0,0.0,0.0
145447,1.0,0.0,0.0,0.0
145448,0.0,0.0,0.0,0.0

In [45]:
house['smoking_allowed'].unique()

array([0., 1.])

In [46]:
house['wheelchair_access'].unique()

array([0., 1.])

In [47]:
house['electric_vehicle_charge'].unique()

array([0., 1.])

In [48]:
house['comes_furnished'].unique()

array([0., 1.])

These columns can be utilized for visualization and further analysis by converting them into boolean values.